@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
  background-color: #3b6b3f;
  font-family: "Open Sans", sans-serif;
  color: #FFFFD8;
}

#app {
  width: 100%;
  height: 100vh;
}

.wrapper {
  width: 100%;
  height: auto;

}

.wrapper .roulette {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  justify-content: center;
}

.wrapper .arrow {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 80px solid #C60200;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.3));
  border-radius: 10px;
  position: relative;
  z-index: 1;
  top: 70px;
}

.spin {
  cursor: crosshair;
}

.wrapper .roulette img {
  filter: brightness(1.1) contrast(1.2);
}

.roulette-wheel {
  transition: transform 2s ease-out;
}


@media (max-width: 768px) {
  .wrapper .arrow {
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 50px solid #C60200;
    top: 70px;
  }
}

@media (max-width: 480px) {
  .wrapper .arrow {
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 40px solid #C60200;
    top: 60px;
  }
}

@media (max-width: 380px) {
  .wrapper .arrow {
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 40px solid #C60200;
    top: 45px;
  }
}


